**/*.test
.tags*
tags
.dbg_history
**/**/dlv
!cmd/dlv/
.vagrant
**/*.swp
localtests
.idea
*.iml
.teamcity/target
.vscode
.claude
dist/
pkg/proc/testdata/fuzzexe
pkg/proc/testdata/fuzzcoredump
pkg/proc/testdata/fuzzinfo
pkg/proc/testdata/fuzz/
